body {
    font-size: 24px;
    color: rgba(242, 245, 245);
    margin: 0;
    padding: 0;

}

.header {
    background-color: #26252b;
    top: 0;
    width: 100%;
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 50px;
}

h1 {
    position: absolute;
    left: 0;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: #b1e8e8;
}


.town_choose {
    margin-right: 10px;
}

.main {
    min-height: 300px;
    background-color: #919194;
    margin: 0px 200px;
    overflow: auto;
}

.weather {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.weather_current {
    display: flex;
    width: 50%;
    border-radius: 30px;
    background-color: #79c5c3;
    margin: 10px;
    height: 300px;
    position: relative;
    z-index: 0;
    justify-content: center;
}

.weather_current::before {
    content: "";
    background-image: url('images/background-weather/sunny-sky_87394-20.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.55;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    border-radius: 30px;
}

.weather_current-header {
    padding-top: 10px;
    width: 100%;
    margin: 0 auto;
    height: 50px;
}

.weather_current-title,
.weather_current-town {
    width: 100%;
    display: flex;
    justify-content: center;
}

.weather_week {
    width: 50%;
    background-color: #77a8d1;
    border-radius: 30px;
    margin: 10px;
    z-index: 0;
    position: relative;
    min-height: 400px;
}

.weather_week::before {
    content: "";
    background-image: url('images/background-weather/sunny-sky_87394-20.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -2;
    border-radius: 30px;
}

/* .weather_week::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.5); 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
    border-radius: 30px; */
/* } */

.weather_week-header {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 20px;
}

.weather_week-items {
    display: flex;
    flex-direction: row;
    height: 95%;
}

.weather_week-items-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.weather_week-items-container,
.moon {
    display: flex;
    width: 50%;
    margin: 10px;
    height: 95%;
}

.weather_week-item {
    display: flex;
    align-items: center;
}

.degree {
    margin-left: 5px;
    color: rgba(242, 245, 245, 0.63);
    width: 40px;
}

.icon {
    width: 40px;
    height: 40px;
    margin-left: 60px;
}

.day {
    width: 40px;
    margin-left: 10px;
}

.degree-day {
    margin-left: 15px;
}

.temperature-bar-container {
    width: 100px;
    background-color: #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    height: 5px;
    margin-left: 20px;
}

.temperature-bar {
    height: 100%;
    width: 0;
    transition: width 0.5s ease, background-color 0.5s ease;
}

.temperature-display {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}

.moon {
    flex-flow: column wrap;
    position: relative;
}

.moon_header {
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.moon_title {
}

.daylight-container {
    text-align: center;
}

.sun-icon {
    width: 50px;
    height: auto;
}

.arc {
    width: 100%;
    height: 50px;
    margin-top: 14px;
    margin-bottom: 14px;
    background: url(images/weather\ icons/sunday.svg) center center no-repeat;
}

.time-label {
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
}